@import "../../styling/Colors";
@import "../../styling/Fonts";

.recent__wrap {
  width: 30%;
  height: 80%;
  min-height: 170px;
  margin: 13px;
  margin-top: 0;

  background-color: $bg;
  border-radius: 20px;
  align-self: flex-start;
  .recent__head {
      background-color: $blue-deep;
      font-size: 18pt!important;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      margin-bottom: 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
  }
  .recent__desc {

    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    height: calc(1em * 1.13 * 10); //1.2 IS THE STANDARD LINE HEIGHT, 1 IS THE AMOUNT OF LINES
  }
}
