@import "../../styling/Colors";

.dashboard__menu {
    width: 12%;
    min-width: 200px;
    height: 85vh;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-content: flex-start;
    align-items: center;

    .dashboard__menu-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            height: 70px;
            width: 70px;
            object-fit: contain;
            margin-bottom: 10px;
        }
    }


}

a {
    color: $text-main; 
    text-decoration: none;
}