div {

    .react-calendar {
        width: 100%!important;
        justify-self: flex-start;
        border: none;
        .react-calendar__tile--now {
            background-color: #C7EFFF;
            &:hover {
                background-color: #00B4FF!important;
            }
        }
        .react-calendar__tile--active {
            background-color: #00B4FF!important;
        }
    }
}