.landing-wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .add-new-input {
        width: 500px;
        margin-bottom: 20px;
    }
}